<h1><%= @restaurant.name %></h1>
<h5><%= @restaurant.category %> restaurant</h5>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to "back", restaurants_path, class: "navbar-brand" %>
<h3 class="mt-3">Rate <%= @restaurant.name %>?</h3>

<%= simple_form_for [@restaurant, @review] do |f|%>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-primary mb-3" %>
<% end %>

<h2><%= @restaurant.name %>'s reviews</h2>
<% if @reviews.empty? %>
	  <p><%= @restaurant.name %> has no reviews yet. Want to be the first to raise one?</p>
<% else %>
  <div class="card-deck">
	<% @reviews.each do |review| %> 
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><%= review.rating %></h5>
				<p class="card-text"><%= review.content %></p>
			</div>
		</div>
		<% end %>
  </div>			
<% end %>